<!--header-->
<mat-toolbar class="mat-toolbar">
  <button class="mat-icon-button" (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Sahan's App
  <span class="spacer"></span>
  <button class="mat-icon-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<!--main content container-->
<mat-sidenav-container class="side-nav-container">
  <!--  menu items-->
  <mat-sidenav [position]="'start'" [mode]="'push'" class="side-nav" [opened]="isOpen">
    <mat-accordion>
      <mat-expansion-panel class="mat-expansion-panel">
        <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title class="mat-expansion-panel-header-title">
            Analyse
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description class="clickable mat-button"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.GENERATE_REPORT }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.GENERATE_REPORT)">
          Generate Reports
        </mat-panel-description>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-expansion-panel">
        <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header class="mat-expansion-panel-header">
          <mat-panel-title class="mat-expansion-panel-header-title">
            Setup
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description
          [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.PRODUCTS }"
          class="clickable"
          (click)="handleModuleTypeSelection(MODULE_TYPE.PRODUCTS)">Products
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.TEAMS }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.TEAMS)">Teams
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.TEAM_MEMBERS }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.TEAM_MEMBERS)">Team
          Members
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.MODULES }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.MODULES)">Modules
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.ROOT_CAUSES }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.ROOT_CAUSES)">Root
          Causes
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.REASONS }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.REASONS)">Reasons
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.TEAM_MEMBER_ALLOCATIONS }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.TEAM_MEMBER_ALLOCATIONS)">Team Member
          Allocations
        </mat-panel-description>
        <mat-panel-description class="clickable"
                               [ngClass]="{'mat-menu-item mat-menu-item-highlighted': (selectedModule | async) == MODULE_TYPE.MODULE_TEAM_ALLOCATIONS }"
                               (click)="handleModuleTypeSelection(MODULE_TYPE.MODULE_TEAM_ALLOCATIONS)">Module Team
          Allocations
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <!--  main content-->
  <mat-sidenav-content>
    <ng-container *ngIf="(selectedModule | async) == MODULE_TYPE.PRODUCTS">
      <ss-ss-products></ss-ss-products>
    </ng-container>
    <ng-container *ngIf="(selectedModule | async) == MODULE_TYPE.TEAMS">
      <ss-teams></ss-teams>
    </ng-container>
    <ng-container *ngIf="(selectedModule | async) == MODULE_TYPE.ROOT_CAUSES">
      <ss-root-causes></ss-root-causes>
    </ng-container>
    <ng-container *ngIf="(selectedModule | async) == MODULE_TYPE.TEAM_MEMBERS">
      <ss-team-members></ss-team-members>
    </ng-container>
    <ng-container *ngIf="(selectedModule | async) == MODULE_TYPE.MODULES">
      <ss-modules></ss-modules>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
