/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable {
  cursor: pointer;
}

.module-heading {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.main-table {
  width: 100%;
  border-spacing: 10px;
  margin-left: 10px;
}

.module-btn {
  margin-top: 50px;
  margin-left: 20px;
}
